.url-input-container {
    max-width: 400px;
    min-width: 200px;
    padding: 10%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    & input {
        max-width: 300px;
        margin: 0 auto;
    }
}