.resource-preview {
    display: inline-block;

    & .image-container {
        max-width: 200px;
        max-height: 200px;
        height: 150px;
        width: 200px;
        padding: 1rem;

        & img {
            width: 100%;
            height: auto;
        }
    }
}


.resources-list {

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    justify-content: flex-start;
    gap: 1rem;

    & .resource-preview {
        display: inline-block;
    }
}