.resource-preview {
    display: inline-block;

    & .image-container {
        max-width: 200px;
        max-height: 200px;
        height: 150px;
        width: 200px;
        padding: 1rem;

        & img {
            width: 100%;
            height: auto;
        }
    }
}

.user-resources-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    & .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }
}

.resources-list {
    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    & .resource-preview {
        display: inline-block;
    }
}